$include /etc/inputrc

"\e[1;5C":forward-word
"\e[1;5D":backward-word

## arrow up
"\e[A":history-search-backward
## arrow down
"\e[B":history-search-forward

# Add shell-option to ~/.inputrc to enable case-insensitive tab completion
set completion-ignore-case On
